<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SanityTesting" parallel="tests" thread-count="3">
	<listeners>
		<listener class-name="extentReportsPage.Listenersimplementation"></listener>
	</listeners>
  <test  name="Test">
	  <parameter name="browser" value="chrome"></parameter>
    <classes>
       <class name="cliniDashboard.ClinicDashboard1"/>
        <class name="cliniDashboard.ClinicAppointments"/>
            <class name="cliniDashboard.ClinicStartButton"/>
        <class name="cliniDashboard.ClinicAppointmentRequest"/>
      <class name="cliniDashboard.ClinicApproveButton"/>
      <class name="cliniDashboard.ClinicProposeNewTime"/>
   <class name="cliniDashboard.ClinicManageDoctor"/>
      <class name="cliniDashboard.ClinicProfilePage1"/>
      <class name="cliniDashboard.ClinicReportsPage"/>
    </classes>
  </test>
   
  <test name="Test1">
	  <parameter name="browser" value="chrome"></parameter>
	  <classes>
		   <class name="doctorLogin.DoctorDashboardPage"/>
     <class name="doctorLogin.DoctorAppointments"/>
     <class name="doctorLogin.DoctorAppointmentRequest"/>
    <class name="doctorLogin.DoctorApprovebutton"/>
           <class name="doctorLogin.DoctorProposeNewTime"/>
          <class name="doctorLogin.DoctorProfile"/>
        <class name="doctorLogin.DoctorEditTiming"/>
       <class name="doctorLogin.DoctorClinicProfile"/>
      <class name="doctorLogin.DoctorReportsPage"/>
	  </classes>
  </test><!-- Test -->
</suite> <!-- SanityTesting -->
